#side-nav{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    /* justify-content: center; */
    align-content: start;
    border-bottom: none;
    overflow-y: hidden;
    overflow-X: hidden;
    border-top: 2px solid var(--site-black);
    /* background-color: var(--mask);  */
    border-radius: 10px;
}
#side-nav.left-side{
    /* padding: 20px 10px 10px 20px; */
    border-radius: 30px 0 0 0;
}
#side-nav.right-side{
    border-radius: 0 30px 0 0;
    /* background-color: var(--mask); */
}
#side-nav.left-side .wrap{
    padding: 20px 10px 10px 20px;
    background-color: var(--major);
}



@keyframes slideScaleOpen {
    from {transform: srgb(5, 6, 5)(0);}
    to {transform: scaleY(1);}
}
@keyframes slideScaleClose {
    from {transform: scaleY(1);}
    to {transform: scaleY(0);}
}

@media screen and (max-width:768px){
    /* #side-bar .content .menubar{
        padding-right: 10px;
    }
    #side-bar .content .box .left-side .icon{
        padding-right: 10px;
    } */
    #side-bar.reduce-height-for-btm-pallete{
      height: 55vh;
    }
    /* #side-bar .content .box{
        width: auto;
    } */
  }
