.main-page {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  color: var(--my-font-colors);
  /* z-index: 1; */
  /* position: relative; */
  overflow: hidden;
  /* background-color: red; */
}
.main-page__wrap{
}
.main-page__main-content{
  display: grid;
  grid-template-columns: 20% auto 25%;
  grid-template-rows: auto;
  grid-gap: 15px;
  padding: 0 30px;
  /* padding-right: 50px; */
}
.main-page .sport-toolbar__item{
  width: 100%;
  height: 8vh;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  position: fixed;
  overflow: hidden;
  z-index:2;
  top:15vh;
  left:0;
  color: var(--white);
  background-color: var(--normal);

}
.main-page .sport-toolbar__item .sport-toolbar__wrap{
  display: grid;
  /* grid-template-columns: 18.5% 55% 10%; */
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-gap: 10px;
  justify-content: space-between;
  align-content: center;
  background-color: var(--black);
  border-radius: 50px 50px 0 0 ;
  padding: 0 55px;
  font-size: 14px;
  color:var(--gray);

  /* background-color: aqua; */
}
.main-page .sport-toolbar__item .sport-toolbar__col:first-child{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  /* grid-gap: 11%; */
  justify-content: flex-start;

  /* background-color: blue; */
}

.main-page .sport-toolbar__item .sport-toolbar__col:last-child{
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid var(--normal);
  padding-left: 10px;
  /* background-color: var(--green); */
}
.main-page .sport-toolbar__wrap .sport-toolbar__time{
  display: flex;
  align-items: center;
  border-right: 1px solid var(--normal);
  padding-right: 20px;
  margin-right: 85px;
  /* background-color: blue; */
}
.main-page .sport-toolbar__time .sport-toolbar__timezone{
  display: flex;
}

.main-page .sport-toolbar__wrap .sport-toolbar__nav{
  /* display: flex;
  justify-content: flex-start;
  align-items: center;
   */
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: auto;
  /* background-color: var(--green); */
}
.main-page .sport-toolbar__wrap .sport-toolbar__nav-item{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1em;

}
.main-page .sport-toolbar__nav .sport-toolbar__nav-item a{
  font-size: 13px;
  color: var(--disabled);
  word-break: keep-all;
}
.main-page .sport-toolbar__info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 13px;
  /* background-color: var(--red); */
}
.main-page .sport-toolbar__info a{
  font-size: 13px;
  color: var(--grey);
}

@keyframes slideUp {
  from {transform: translateY(10vh);}
  to {transform: translateY(-1vh);}
}
@keyframes reduceHeight {
  from {height: 100%;}
  to {height: 65vh;}
}

@media screen and (max-width:768px){
  .main-page .sport-toolbar__wrap .sport-toolbar__time{
    margin-right: 0;
  }
}