*{
    box-sizing:border-box;
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    /* color:var(--normalwhite); */
}
.app {
    overflow: hidden;
    width: 100vw;
    display: flex;
}
#wrapper {
    overflow: hidden;
    width: 100%;
    display: flex;
}
main{
    margin-top: 16.5vh;
    width: 100vw;
    z-index:1;
    border-radius: 50px 50px 0 0 ;
}
#main-wrap-content{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
}
#container{
    display: flex;
    background-color: var(--black);  
    border-radius: 50px 50px 0 0 ;
}
#container.container-change-color{
    background-color: var(--normalblack);
}
  



@media screen and (max-width:768px){
    main{
        margin-top: 18vh;
    }
}

@media screen and (max-width:540px){
    main{
        margin-top: 16vh;
    }
}